{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% style block %}
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
        background: rgb(195, 229, 231)
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }

      }
     
      .whitebg{
        background-color: #ffffff;
        padding: 10px;
        margin:4px 0 0 10px;
        border-radius: 15px;
      }

    </style>
    {% endblock %}

  {% body-tag block %}
  <body>
  {% endblock %}


    {% content block %}
    <div class="container">
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br><br>                                            
                <form class="form-horizontal whitebg">
                    <h2>Login</h2>
                    <div class="form-group">
                        <label class="control-label align-content-around" for="email">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                       
                    <div class="form-group">
                        <label class="control-label align-content-around" for="password">Password</label>                                
                        <input type="password" class="form-control" id="password" required>
                    </div>
    
                    <div class="form-group text-center">
                        <button class="btn btn-info btn-block" type="submit">Login</button>  
                    </div>
                </form>
         
        </div>
      </div>
    </div>
    {% endblock %}
